article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */
input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }

*, *:before, *:after { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

$grey: #524F4F;
$brown: #483333;
$seafoam: #C8FFE9;
$green: #8DDE92;
$whitesmoke: #F2f2f2;
$white: #FFFFFF;
$richblack: #141414;

// GLOBAL STYLES 

body {
    color: $grey;
    font-family: 'Raleway', sans-serif;
    font-size: 17px;
    background-color: $whitesmoke;
}

.wrapper {
    max-width: 1200px;
    width: 85%;
    margin: 0 auto;
}

.flexContainer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

h2 {
	font-size: 30px;
	margin: 17px 0;
}

h3 {
	font-size: 17px;
	padding-top:0px;
}

h6 {
	font-size: 14px;
	font-weight: 400;
}

a {
	color: $green;
	text-decoration: none;
}

p {
	text-align: left;
}

.logo {
	max-width:200px;
}

// HEADER STYLES 

header {
	background: url("../images/hero.svg") repeat;
	background-attachment: fixed;
	background-color: rgba(141,222,146,0.4);
	background-size: cover;
	max-height: 550px;
	height: 80vh;
}

.headerText {
	padding: 120px 0;
	flex-direction: column;
	text-align: left;
	align-items: flex-start;
}

h1 {
	font-size: 100px;
	text-transform: uppercase;
	letter-spacing: 2px;
	line-height: 1em;
	margin: 0;
}

.headKey {
	position: relative;
	padding-bottom: 20px;
}

.headKey:after {
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	height: 6px;
	width: 100%;
	margin: 0 auto;
	background-color: $green;
}

.headerText h2 {
	font-size: 51px;
	font-weight: 400;
	letter-spacing: 2px;
	font-style: italic;
	// text-transform: uppercase;
}


// USER DATA

.user-data {
	flex-direction: column;
	width: 100%;
	background-color: $white;
	padding: 105px 120px 120px 120px;
	margin: 90px 0;
}

#userInputForm {
	width: 100%;
	margin: 0 auto;
}

.user-data-one {
	padding-bottom: 60px;
}

.user-data-one, .user-data-two {
	width: 100%;
	margin: 0 auto;
	justify-content: space-between;
}

.volumeRangeContainer, .submitInput, {
	width: 30%;
}

.submitInput input:hover {
	transition: 0.35s ease-in-out;
}

.submitInput input:hover {
	background-color: $green;
	color: white;
}

.volumeRangeContainer {
  text-align: center;
  font-weight: bold;
  font-size: 10em;
  width: 300px; 
  height: 100px;
  line-height: 60px;
  margin: 40px auto;
  letter-spacing: -.07em;
  text-shadow: white 2px 2px 2px;
}

.volumeRangeContainer input[type="range"] {
  display: block;
  -webkit-appearance: none;
  background-color: lighten($grey,35%);
  width: 300px;
  height: 5px;
  border-radius: 5px;
  margin: 0 auto;
  outline: 0;
}

.volumeRangeContainer input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: $green;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid white;
  cursor: pointer;
  transition: .3s ease-in-out;
}​

.volumeRangeContainer input[type="range"]::-webkit-slider-thumb:hover {
    background-color: white;
    border: 2px solid $green;
}

.volumeRangeContainer input[type="range"]::-webkit-slider-thumb:active {
    transform: scale(1.6);
  }

.priceRangeContainer, .textInput {
	width: 60%;
}

#volumeRange, #dataSubmit {
	width: 100%;
	margin: 0;
}

#priceRange, #userLocation {
	width: 100%;
	height: 60px;
	margin: 0;
}

#userLocation {
	padding: 15px;
}

.submitInput input {
	height: 60px;
	letter-spacing: 2px;
	text-transform: uppercase;
	color: $green;
	background-color: transparent;
	border: 4px solid $green;
}

.textInput input {
	color: $green;
	background-color: transparent;
	border: 4px solid $green;
}

.textInput input:focus, .submitInput input:focus {
	outline: 3px solid darken($green,30%);;
}

//  Flickity Gallery Cards

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
.cf:before,
.cf:after {
  display: table;
  content: ' ';
}
.cf:after {
  clear: both;
}
.cf {
	width: 33.333%;
  *zoom: 1;
}
img {
  max-width: 100%;
  height: auto;
}
figure {
  margin: 0;
  padding: 10px;
}
figure a {
  display: block;
}
mark {
  padding: 0 5px;
  background-color: #dddddd;
}
::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}

.product-summary.card {
	width:280px;
	margin: 7px;
}

.product-thumbnail {
	height: 250px;
	text-align: center;
	position: relative;
}

.product-thumbnail img {
	height: 250px;
	margin: 0 auto;
}

.product-thumbnail-price {
	position: absolute;
	top: 15px;
	right: 15px;
	font-size: 23px;
	font-weight: 400;
	color: $grey;
	background-color: lighten($green,20%);
	padding:10px;
}

span.dollar-sign {
	font-size: 12px;
	padding-right:3px;
}

.slide-content {
	text-align: left;
	width: 100%;
	margin: 30px auto 90px auto;
	padding-right: 5%; 
	padding-left: 5%;
}

.card {
	width: 100%;
	background-color: #fff;
	text-align: left;
	position: relative;
	height: 100%;
	box-shadow: 0px 2px 6px 0px rgba(204,209,217,.5);
	border: 1px solid #E6E9ED;
}

// .slide-content {
// 	width: 100%;
// }

// .courses {
// 	margin-top: 30px;
// 	margin-bottom: 10px;
// }
.product-item {
	width: 30%;
	padding-right: 2%;
	padding-left: 2%;
	margin-bottom: 30px;
	float: left; /*ensuring proper layout*/
}
.product-heading {
	// font-weight: 500;
	font-size: 25px;
	color: #AAB2BD;
	text-transform: uppercase;
	text-align: center;
}
.product-info {
	padding: 7%;
	min-height: 140px;
	background-color: #fbfbfb;
	border-top: 1px solid #e1e1e1;
}
// .product-topic {
// 	// font-weight: 500;
// 	color: #AAB2BD;
// 	font-size: 12px;
// 	margin-bottom: 5px;
// }
// .product-topic.photo {
// 	color: #673AB7;
// }
// .product-topic.webdesign {
// 	color: #009688;
// }
// .product-topic.computer {
// 	color: #2196F3;
// }
// .product-topic.code {
// 	color: #4CAF50;
// }
// .product-topic.design {
// 	color: #F44336;
// }

.card-title-box {
	height: 60px;
}

.product-name {
	font-size: 20px;
	font-weight: 600;
	letter-spacing: 1px;
	margin: 0 0 10%;
	color:$green;
}

.product-style {
	font-size: 17px;
	font-style: italic;
	letter-spacing: 0.5px;
	padding:0;
}

.product-style span {
	font-size: 18px;
}

// .product-meta {
// 	color: #AAB2BD;
// 	// font-weight: 300;
// 	font-size: 11px;
// 	position: absolute;
// 	left: 7%;
// 	bottom: 7%;
// }
// .product-duration:before {
// 	display: inline-block;
// 	content: "";
// 	padding-right: 5px;
// 	padding-left: 5px;
// }
// .aption {
// 	position: absolute;
// 	right: 5%;
// 	bottom: 5%;
// 	font-size: 18px;
// 	color: #AAB2BD;
// }

// FEATURE CARD STYLES

.product-feature {
	display: inline-block;
	margin: 50px auto 0;
	background-color: #f5f5f5;
}
.product-showcase {
	display: flex;
	justify-content: space-between;
	box-shadow: 0px 2px 6px 0px rgba(204,209,217,.5);
}
.showcaseLeft {
	width: 33.333%;
	border-right: solid 1px;
	background-color:$white;
}
.showcaseLeft img {
	display: block;
	margin: 0 auto;
}
.showcaseMiddle {
	width: 33.333%;
	padding: 20px 30px 30px 30px ;
}
.showcaseRight {
	width: 33.333%;
	padding: 20px 30px 30px 30px ;
}

.feature-btn {
	padding: 8px 16px;
	letter-spacing: 2px;
	text-transform: uppercase;
	white-space: nowrap;
	color: #8DDE92;
	background-color: transparent;
	border: 4px solid #8DDE92;
	width: 185px;
}

.feature-btn:focus {
	outline: none;
	outline: 3px solid darken($green,30%);
}

.inventory-btn {
	margin-bottom: 20px;
}

.buy-online-btn {
	display: inline-block;
}

// FOOTER STYLES 

footer {
	color: $seafoam;
	padding: 15px 0 15px 0;
	background-color: lighten($grey, 10%);
	justify-content: center;
	margin-top: 90px;
}

.footer-two h6 {
	display: flex;
	align-items: center;
	margin: 0 auto;
}

footer a {
	color: $seafoam;
}

.footer-two img {
	width: 100px;
	padding-left: 5px;
}


// FLICKITY

.flickity-prev-next-button.previous {
  left: -30px;
}
.flickity-prev-next-button.next {
  right: -30px;
}
.flickity-prev-next-button .arrow {
  fill: #F5F7FA;
}
.flickity-prev-next-button {
  background-color: #434A54;
  width: 38px;
  height: 38px;
}
.flickity-prev-next-button:hover {
  background-color: #656D78;
}

// LEAFLET STUFFS

#dev-map {
	height: 300px;
	display: none;
}

#map {
	height: 300px;
	// border: 1px solid black;
	// background-color: #fff;
}

.leaflet-popup-content-wrapper {
	border-radius: 0;

	a {
		color: #333;
		text-decoration: none;

		&:hover {
			color: #0078a8;
			text-decoration: none;
		}
	}
}

.leaflet-control-attribution.leaflet-control {
	background: rgba(255, 255, 255, 0.1);
	color: #999;

	a {
		color: #999;
	}
}

.leaflet-bar a {
	// background-color: rgba(255, 255, 255, 0.3);

	// &:hover {
	// 	background-color: rgba(255, 255, 255, 0.5);
	// }
}

.leaflet-control-fullscreen a {
	border-radius: 0;
}

.leaflet-control-fullscreen.leaflet-bar.leaflet-control {
	border-radius: 0;
}

.leaflet-control-zoom.leaflet-bar.leaflet-control {
	border-radius: 0;
}